body{
    font-family: fantasy, Broadway, "Trebuchet MS", Trattatello, ;
    text-align: center;    
    font-size: 25PX;
	color: #f79300;
	background-image: url("fundo.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
}

#container {
	width: 600px;
	height: 400px;
	background-color: rgba(255, 255, 255, 0.705);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

#container1 {
	width: 600px;
	height: 65px;
	background-color:rgba(255, 255, 255, 0.705);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

#container2 {
	width: 380px;
	height: 65px;
	background-color: rgba(255, 255, 255, 0.705);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: bottom right;
	margin-top: 210px;
	text-align: center;
}

#container3 {
	width: 1200px;
	height: 768px;
	background-color: rgba(255, 255, 255, 0.705);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}


input {
    text-align: center;
	height: 50px;
	width: 70%;
	font-size: 15px;
	margin-bottom: 10px;
    background-color: #fff;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: 10px;
	
}

select {
    text-align: center;
	height: 50px;
	width: 71%;
	font-size: 15px;
	margin-bottom: 10px;
	background-color: #fff;
	padding-left: 40px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: 10px;
}

::placeholder{
	color: black;
}

input.submit {
    text-align: center;
	color: black;
	background-color: #f79300;
	border: 2px solid #db7d00;
	padding: 5px 20px;
	height: 40px;
	width: 50%;

	background: -webkit-linear-gradient(to bottom, #faa600, #f68a00);
	background: -moz-linear-gradient(to bottom, #faa600, #f68a00);
	background: -o-linear-gradient(to bottom, #faa600, #f68a00);
	background: linear-gradient(to bottom, #faa600, #f68a00);

}

button.submit{
	text-align: center;
	font-size: 15px;
	color: black;
	background-color: #f79300;
	border: 2px solid #db7d00;
	padding: 5px 20px;
	height: 40px;
	width: 50%;

	background: -webkit-linear-gradient(to bottom, #faa600, #f68a00);
	background: -moz-linear-gradient(to bottom, #faa600, #f68a00);
	background: -o-linear-gradient(to bottom, #faa600, #f68a00);
	background: linear-gradient(to bottom, #faa600, #f68a00);
}

